/* Fondo dinámico */
.login-bg {
    background-color: #4a5757;

    /* Cambié el fondo a un gradiente azul y verde */
    background-size: cover;
    background-position: center;
    position: relative;
}

.login-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Estilo del logo */
.logo-img {
    width: 150px;
    z-index: 2;
}

/* Tarjeta de login */
.login-card {
    max-width: 400px;
    background-color: #293737;
    border-radius: 15px;
    z-index: 2;
}

/* Entrada de texto */
.input-field {
    color: #000000;
    border: none;
    border-radius: 10px;
}

.input-field:focus {
    border: 2px solid #ee5d1c;
    box-shadow: 0 0 8px rgba(233, 151, 0, 0.6);
}

/* Botón */
.btn-orange {
    background-color: #ee5d1c;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

.btn-orange:hover {
    background-color: #ee5d1c;
    box-shadow: 0 4px 15px rgba(233, 151, 0, 0.5);
}

/* Texto de ayuda */
.text-orange {
    color: #ee5d1c;
}
.text-secondaryy {
    color: #ffffff;
}